#
JAIL_NAME=pgsql
PG_VERSION=17
MAKEJAIL=./Makejail
DB_DATA_DIR=/ztank/pgdata
PASSWORD_DIR=/root/pgjail-passwd
PKGCACHE=/home/appjail-pkgcache
JAIL_IPADDR=192.168.1.16
ALLOWED_CIDR_LIST="${JAIL_IPADDR}/32 192.168.1.100/32"
